body {
    background-color: #1a1a1a;
    font-family: "Comic Sans MS", serif;
    margin: 0;
    padding: 0;
}

.center-text {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.center-text h1 {
    font-weight: 500;
    font-size: 50px;
}

.center-text p {
    font-weight: 300;
}
