{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>animeketchup</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

{% block content %}
    <section>
        <div class="center-text">
            <h1>animeketchup</h1>
            <p>welcome to animeketchup for all of your catchup needs</p>
            <p>lets get you started watching an anime today</p>
            <p> >:^) </p>
        </div>
    </section>
{% endblock %}


</body>
</html>
